[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2-cli = "*"
prometheus-client = "*"
python-jenkins = "*"

[dev-packages]
black = "==19.3b0"
flake8 = "*"
flake8-isort = "*"
pydocstyle = "*"
pylint = "*"

[requires]
python_version = "3.7"
